/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.dev
.env.pro
.env.salary
.env.test
.env.staging
.env.unittest
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/tests-report.xml
/.vscode
.php-cs-fixer.cache
/zdocker-compose/
/storage/api-docs/
/app/Services/EInvoice/CerFiles/
package-lock.json
/.phpstorm.meta.php
/public/vendor
/_ide_helper.php
/_ide_helper_models.php
/zcript/tasks.txt
/app/Console/Commands/_CommandLocal/
/app/Jobs/_JobLocal/
/app/Services/_ServiceLocal/
/.phpunit.cache
tests-report.xml
qodana.yaml
